header {
	position: relative;
	background-color: #555555;
	padding: 0 2em;
}

header h1 {
	padding: 10px 30px;
	height: 120px;
	display: table-cell;
	vertical-align: middle;
	background-color:maroon;
	color: white;
	font-size: 2.5em;	
}

header nav {
	position: absolute;
	display: inline-block;
	right: 20px;
	bottom: 5px;
}

header li {
	display:inline;
	padding-left: 1em;
}

header a {
	font-size: 1.2em;
	color: #AAAAAA;
	text-decoration: none;
}

header a:hover {
    color: #DDDDDD;
}

@media (max-width: 715px) {
    header {
		position: static;
		padding: 0;
	}
	header h1 {
		width: 100vw;
		height: 120px;
		display: table-cell;
		vertical-align: middle;
		font-size: 1.8rem;
		text-align: center;
	}
	header nav {
		width: 100%;
		text-align: center;
		position: static;
		display: inline-block;
		padding: .8rem;
	}
	header li {
		padding: 0 .5rem;
	}
	header a {
		font-size: 1rem;
	}
}