.medidas-imc li {
	margin-left: 1em;
	line-height: 1.5em;
	list-style-type: disc;
}

.formula-imc {
    display: inline-block;
    margin-bottom: 1.5em;
    border: 1px solid #AAAAAA;
    background-color: whitesmoke;
}

.formula-imc-resultado {
    position: relative;
    bottom: 1em;
    display: inline-block;
    padding-left: 1.5em;
}

.formula-imc-equacao {
    display: inline-block;
    padding: 1.5em 1.5em 1.5em 1em;
    text-align: center;
}