table {
	width: 100%;
	margin: 1em 0;
    table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #AAAAAA;
	text-align: center;
	vertical-align: middle;
}

th{
	font-weight: bold;
	color: #DDDDDD;
	background-color: #555555;
}

#erro-ajax {
	color: red;
}

.paciente-invalido {
	background: lightcoral;
}